* {
    margin: 0;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;   

}

.item1-image {
   grid-row: 1/4;

}

.item2-text {
    grid-row: 4/7; 

}

img { 
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.item2-text h1, p {
    padding-bottom: 5px;
       
} 

/* ho risolto i doppi bordi applicando solo il border-bottom qui + il border esterno al grid container */
.item2-text, .item3, .item4, .item5 {
    border-bottom: 1px solid grey;
    padding: 10px;
      
}

.item6 {
   display: flex;
   padding: 10px;
   
}

.item6 > a:last-child {
    margin-left: 20px;
}


@media only screen and (min-width: 601px) and (max-width: 767px) {
    .grid-container, img { 
        width: 500px;
      }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid-container, img { 
        width: 600px;
      }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .grid-container, img { 
        width: 800px;
      }

}

@media only screen and (min-width: 1200px) {
    .grid-container, img { 
        width: 1000px;
      }

}